section {
    width: 60%;
    margin: 0 auto;
    float: left;
    text-align: center
}

aside.left {
    float: left;
    margin: 0 auto;
    width: 15%;
}

aside.right {
    float: right;
    margin: 0 auto;
    width: 25%;
}

footer {
	clear: both;
}

#catsList {
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

#catsList > li {
    padding: 5px 10px;
    display: block;
    margin: 0;
}

#catsList > li:hover {
    background-color: gray;
    cursor: pointer;
}


.catPicture {
    float: right;
    width: 75%;
}

.catPicture > img:hover {
	cursor: pointer;
}

.data {
	float: right;
    width: 25%;
}